[Desktop Entry]
Type=Application
Terminal=false $ true opens extra gnome-terminal
Name=FreewayRobotUI
Icon=/home/fw/.auto_launch/freeway.png
Exec=gnome-terminal -e "zsh -c '/home/fw/.auto_launch/launch_ui.sh;$SHELL'"